* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* margin-位置-数值 */
.m-0 {
	margin: 0px !important;
}

.m-t-0 {
	margin-top: 0px !important;
}

.m-b-0 {
	margin-bottom: 0px !important;
}

.m-l-0 {
	margin-left: 0px !important;
}

.m-r-0 {
	margin-right: 0px !important;
}

.m-v-0 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.m-h-0 {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.m-1 {
	margin: 1px !important;
}

.m-t-1 {
	margin-top: 1px !important;
}

.m-b-1 {
	margin-bottom: 1px !important;
}

.m-l-1 {
	margin-left: 1px !important;
}

.m-r-1 {
	margin-right: 1px !important;
}

.m-v-1 {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
}

.m-h-1 {
	margin-left: 1px !important;
	margin-right: 1px !important;
}

.m-2 {
	margin: 2px !important;
}

.m-t-2 {
	margin-top: 2px !important;
}

.m-b-2 {
	margin-bottom: 2px !important;
}

.m-l-2 {
	margin-left: 2px !important;
}

.m-r-2 {
	margin-right: 2px !important;
}

.m-v-2 {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

.m-h-2 {
	margin-left: 2px !important;
	margin-right: 2px !important;
}

.m-3 {
	margin: 3px !important;
}

.m-t-3 {
	margin-top: 3px !important;
}

.m-b-3 {
	margin-bottom: 3px !important;
}

.m-l-3 {
	margin-left: 3px !important;
}

.m-r-3 {
	margin-right: 3px !important;
}

.m-v-3 {
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}

.m-h-3 {
	margin-left: 3px !important;
	margin-right: 3px !important;
}

.m-4 {
	margin: 4px !important;
}

.m-t-4 {
	margin-top: 4px !important;
}

.m-b-4 {
	margin-bottom: 4px !important;
}

.m-l-4 {
	margin-left: 4px !important;
}

.m-r-4 {
	margin-right: 4px !important;
}

.m-v-4 {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

.m-h-4 {
	margin-left: 4px !important;
	margin-right: 4px !important;
}

.m-5 {
	margin: 5px !important;
}

.m-t-5 {
	margin-top: 5px !important;
}

.m-b-5 {
	margin-bottom: 5px !important;
}

.m-l-5 {
	margin-left: 5px !important;
}

.m-r-5 {
	margin-right: 5px !important;
}

.m-v-5 {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.m-h-5 {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.m-10 {
	margin: 10px !important;
}

.m-t-10 {
	margin-top: 10px !important;
}

.m-b-10 {
	margin-bottom: 10px !important;
}

.m-l-10 {
	margin-left: 10px !important;
}

.m-r-10 {
	margin-right: 10px !important;
}

.m-v-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.m-h-10 {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.m-15 {
	margin: 15px !important;
}

.m-t-15 {
	margin-top: 15px !important;
}

.m-b-15 {
	margin-bottom: 15px !important;
}

.m-l-15 {
	margin-left: 15px !important;
}

.m-r-15 {
	margin-right: 15px !important;
}

.m-v-15 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.m-h-15 {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.m-20 {
	margin: 20px !important;
}

.m-t-20 {
	margin-top: 20px !important;
}

.m-b-20 {
	margin-bottom: 20px !important;
}

.m-l-20 {
	margin-left: 20px !important;
}

.m-r-20 {
	margin-right: 20px !important;
}

.m-v-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.m-h-20 {
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.m-25 {
	margin: 25px !important;
}

.m-t-25 {
	margin-top: 25px !important;
}

.m-b-25 {
	margin-bottom: 25px !important;
}

.m-l-25 {
	margin-left: 25px !important;
}

.m-r-25 {
	margin-right: 25px !important;
}

.m-v-25 {
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}

.m-h-25 {
	margin-left: 25px !important;
	margin-right: 25px !important;
}

.m-30 {
	margin: 30px !important;
}

.m-t-30 {
	margin-top: 30px !important;
}

.m-b-30 {
	margin-bottom: 30px !important;
}

.m-l-30 {
	margin-left: 30px !important;
}

.m-r-30 {
	margin-right: 30px !important;
}

.m-v-30 {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.m-h-30 {
	margin-left: 30px !important;
	margin-right: 30px !important;
}

.m-35 {
	margin: 35px !important;
}

.m-t-35 {
	margin-top: 35px !important;
}

.m-b-35 {
	margin-bottom: 35px !important;
}

.m-l-35 {
	margin-left: 35px !important;
}

.m-r-35 {
	margin-right: 35px !important;
}

.m-v-35 {
	margin-top: 35px !important;
	margin-bottom: 35px !important;
}

.m-h-35 {
	margin-left: 35px !important;
	margin-right: 35px !important;
}

.m-40 {
	margin: 40px !important;
}

.m-t-40 {
	margin-top: 40px !important;
}

.m-b-40 {
	margin-bottom: 40px !important;
}

.m-l-40 {
	margin-left: 40px !important;
}

.m-r-40 {
	margin-right: 40px !important;
}

.m-v-40 {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}

.m-h-40 {
	margin-left: 40px !important;
	margin-right: 40px !important;
}

/* padding-位置-数值 */
.p-0 {
	padding: 0px !important;
}

.p-t-0 {
	padding-top: 0px !important;
}

.p-b-0 {
	padding-bottom: 0px !important;
}

.p-l-0 {
	padding-left: 0px !important;
}

.p-r-0 {
	padding-right: 0px !important;
}

.p-v-0 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.p-h-0 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.p-1 {
	padding: 1px !important;
}

.p-t-1 {
	padding-top: 1px !important;
}

.p-b-1 {
	padding-bottom: 1px !important;
}

.p-l-1 {
	padding-left: 1px !important;
}

.p-r-1 {
	padding-right: 1px !important;
}

.p-v-1 {
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}

.p-h-1 {
	padding-left: 1px !important;
	padding-right: 1px !important;
}

.p-2 {
	padding: 2px !important;
}

.p-t-2 {
	padding-top: 2px !important;
}

.p-b-2 {
	padding-bottom: 2px !important;
}

.p-l-2 {
	padding-left: 2px !important;
}

.p-r-2 {
	padding-right: 2px !important;
}

.p-v-2 {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.p-h-2 {
	padding-left: 2px !important;
	padding-right: 2px !important;
}

.p-3 {
	padding: 3px !important;
}

.p-t-3 {
	padding-top: 3px !important;
}

.p-b-3 {
	padding-bottom: 3px !important;
}

.p-l-3 {
	padding-left: 3px !important;
}

.p-r-3 {
	padding-right: 3px !important;
}

.p-v-3 {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.p-h-3 {
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.p-4 {
	padding: 4px !important;
}

.p-t-4 {
	padding-top: 4px !important;
}

.p-b-4 {
	padding-bottom: 4px !important;
}

.p-l-4 {
	padding-left: 4px !important;
}

.p-r-4 {
	padding-right: 4px !important;
}

.p-v-4 {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.p-h-4 {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.p-5 {
	padding: 5px !important;
}

.p-t-5 {
	padding-top: 5px !important;
}

.p-b-5 {
	padding-bottom: 5px !important;
}

.p-l-5 {
	padding-left: 5px !important;
}

.p-r-5 {
	padding-right: 5px !important;
}

.p-v-5 {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.p-h-5 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.p-10 {
	padding: 10px !important;
}

.p-t-10 {
	padding-top: 10px !important;
}

.p-b-10 {
	padding-bottom: 10px !important;
}

.p-l-10 {
	padding-left: 10px !important;
}

.p-r-10 {
	padding-right: 10px !important;
}

.p-v-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.p-h-10 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.p-15 {
	padding: 15px !important;
}

.p-t-15 {
	padding-top: 15px !important;
}

.p-b-15 {
	padding-bottom: 15px !important;
}

.p-l-15 {
	padding-left: 15px !important;
}

.p-r-15 {
	padding-right: 15px !important;
}

.p-v-15 {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.p-h-15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.p-20 {
	padding: 20px !important;
}

.p-t-20 {
	padding-top: 20px !important;
}

.p-b-20 {
	padding-bottom: 20px !important;
}

.p-l-20 {
	padding-left: 20px !important;
}

.p-r-20 {
	padding-right: 20px !important;
}

.p-v-20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.p-h-20 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.p-25 {
	padding: 25px !important;
}

.p-t-25 {
	padding-top: 25px !important;
}

.p-b-25 {
	padding-bottom: 25px !important;
}

.p-l-25 {
	padding-left: 25px !important;
}

.p-r-25 {
	padding-right: 25px !important;
}

.p-v-25 {
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.p-h-25 {
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.p-30 {
	padding: 30px !important;
}

.p-t-30 {
	padding-top: 30px !important;
}

.p-b-30 {
	padding-bottom: 30px !important;
}

.p-l-30 {
	padding-left: 30px !important;
}

.p-r-30 {
	padding-right: 30px !important;
}

.p-v-30 {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.p-h-30 {
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.p-35 {
	padding: 35px !important;
}

.p-t-35 {
	padding-top: 35px !important;
}

.p-b-35 {
	padding-bottom: 35px !important;
}

.p-l-35 {
	padding-left: 35px !important;
}

.p-r-35 {
	padding-right: 35px !important;
}

.p-v-35 {
	padding-top: 35px !important;
	padding-bottom: 35px !important;
}

.p-h-35 {
	padding-left: 35px !important;
	padding-right: 35px !important;
}

.p-40 {
	padding: 40px !important;
}

.p-t-40 {
	padding-top: 40px !important;
}

.p-b-40 {
	padding-bottom: 40px !important;
}

.p-l-40 {
	padding-left: 40px !important;
}

.p-r-40 {
	padding-right: 40px !important;
}

.p-v-40 {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

.p-h-40 {
	padding-left: 40px !important;
	padding-right: 40px !important;
}

/* float-位置 */
.f-l {
	float: left !important;
}

.f-r {
	float: right !important;
}

/* float-位置 */
.border-0 {
	border: 0!important;
	border-left: 0!important;
	border-top: 0!important;
	border-right: 0!important;
	border-botto: 0!important;
}

/**
* bg-颜色
* text-颜色
**/
.bg-trans {
	background-color: transparent !important;
}

.text-trans {
	color: transparent !important;
}

.bg-white {
	background-color: #ffffff !important;
}

.text-white {
	color: #ffffff !important;
}

.bg-black {
	background-color: #000000 !important;
}

.text-black {
	color: #000000 !important;
}

.bg-brown {
	background-color: #795548 !important;
}

.text-brown {
	color: #795548 !important;
}

.bg-pink {
	background-color: #e91e63 !important;
}

.text-pink {
	color: #e91e63 !important;
}

.bg-red {
	background-color: #f44336 !important;
}

.text-red {
	color: #f44336 !important;
}

.bg-blue {
	background-color: #2196f3 !important;
}

.text-blue {
	color: #2196f3 !important;
}

.bg-purple {
	background-color: #9c27b0 !important;
}

.text-purple {
	color: #9c27b0 !important;
}

.bg-deeppurple {
	background-color: #673ab7 !important;
}

.text-deeppurple {
	color: #673ab7 !important;
}

.bg-lightblue {
	background-color: #03a9f4 !important;
}

.text-lightblue {
	color: #03a9f4 !important;
}

.bg-cyan {
	background-color: #00bcd4 !important;
}

.text-cyan {
	color: #00bcd4 !important;
}

.bg-teal {
	background-color: #009688 !important;
}

.text-teal {
	color: #009688 !important;
}

.bg-green {
	background-color: #4caf50 !important;
}

.text-green {
	color: #4caf50 !important;
}

.bg-lightgreen {
	background-color: #8bc34a !important;
}

.text-lightgreen {
	color: #8bc34a !important;
}

.bg-lime {
	background-color: #cddc39 !important;
}

.text-lime {
	color: #cddc39 !important;
}

.bg-yellow {
	background-color: #ffeb3b !important;
}

.text-yellow {
	color: #ffeb3b !important;
}

.bg-amber {
	background-color: #ffc107 !important;
}

.text-amber {
	color: #ffc107 !important;
}

.bg-orange {
	background-color: #ff9800 !important;
}

.text-orange {
	color: #ff9800 !important;
}

.bg-deeporange {
	background-color: #ff5722 !important;
}

.text-deeporange {
	color: #ff5722 !important;
}

.bg-gray {
	background-color: #9e9e9e !important;
}

.text-gray {
	color: #9e9e9e !important;
}

.bg-bluegray {
	background-color: #607d8b !important;
}

.text-bluegray {
	color: #607d8b !important;
}

.bg-indigo {
	background-color: #3f51b5 !important;
}

.text-indigo {
	color: #3f51b5 !important;
}

.bg-data {
	background-color: #f0ad4e !important;
}

.text-data {
	color: #f0ad4e !important;
}

.bg-important {
	background-color: #428bca !important;
}

.text-important {
	color: #428bca !important;
}

.bg-common {
	background-color: #333333 !important;
}

.text-common {
	color: #333333 !important;
}

.bg-minor {
	background-color: #666666 !important;
}

.text-minor {
	color: #666666 !important;
}

.bg-assistant {
	background-color: #999999 !important;
}

.text-assistant {
	color: #999999 !important;
}

/* 文字排版 */
.text-thin {
	font-weight: 300;
}

.text-normal {
	font-weight: normal;
}

.text-semibold {
	font-weight: 600;
}

.text-bold {
	font-weight: 700;
}

.text-4x {
	font-size: 4em;
}

.text-3x {
	font-size: 3em;
}

.text-2x {
	font-size: 2em;
}

.text-1x {
	font-size: 1em;
}

.text-xl {
	font-size: 1.5em;
}

.text-lg {
	font-size: 1.2em;
}

.text-md {
	font-size: 1em;
}

.text-sm {
	font-size: 0.8em;
}

.text-xs {
	font-size: 0.5em;
}

.unselectable {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.unselectable ::selection {
	background-color: transparent;
}

.unselectable ::-moz-selection {
	background-color: transparent;
}

@media ( min-width : 1200px) {
	.text-lg-right {
		text-align: right;
	}
	.text-lg-center {
		text-align: center;
	}
	.text-lg-left {
		text-align: left;
	}
}

@media ( min-width : 992px) and (max-width: 1200px) {
	.text-md-right {
		text-align: right;
	}
	.text-md-center {
		text-align: center;
	}
	.text-md-left {
		text-align: left;
	}
}

@media ( min-width : 768px) and (max-width: 992px) {
	.text-sm-right {
		text-align: right;
	}
	.text-sm-center {
		text-align: center;
	}
	.text-sm-left {
		text-align: left;
	}
}

@media ( max-width : 760px) {
	.text-xs-right {
		text-align: right;
	}
	.text-xs-center {
		text-align: center;
	}
	.text-xs-left {
		text-align: left;
	}
}

/* 形状 */
.shape-circle {
	border-radius: 50%
}

/* 边框 */
.bord-no {
	border: 0 !important;
}

.bord-all {
	border: 1px solid #e9e9e9;
}

.bord-top {
	border-top: 1px solid #e9e9e9;
}

.bord-btm {
	border-bottom: 1px solid #e9e9e9;
}

.bord-lft {
	border-left: 1px solid #e9e9e9;
}

.bord-rgt {
	border-right: 1px solid #e9e9e9;
}

.bord-ver {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.bord-hor {
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
}

/* 阴影 */
.shadow-none{
	box-shadow: none!important;
}

/* 尺寸 */
.size-block {
	display: block;
	width: 100%;
}

/* 布局 */
.layout-clearfix:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}

/*鼠标光标*/
/*自动*/
.cursor-auto {
	cursor: auto;
}

/*可移动对象*/
.cursor-move {
	cursor: move;
}

/*不允许*/
.cursor-not-allowed {
	cursor: not-allowed;
}

/*指针*/
.cursor-pointer {
	cursor: pointer;
}

/*编辑*/
.cursor-text {
	cursor: text;
}

/*进度*/
.cursor-progress {
	cursor: progress;
}

/*无法释放*/
.cursor-no-drop {
	cursor: no-drop;
}

/*等待-沙漏*/
.cursor-wait {
	cursor: wait;
}

/*帮助*/
.cursor-help {
	cursor: help;
}

/*十字准星*/
.cursor-crosshair {
	cursor: crosshair;
}

/*向上改变大小*/
.cursor-n-resize {
	cursor: n-resize;
}

/*向下改变大小*/
.cursor-s-resize {
	cursor: s-resize;
}

/*向左改变大小*/
.cursor-w-resize {
	cursor: w-resize;
}

/*向右改变大小*/
.cursor-e-resize {
	cursor: e-resize;
}

/*向左上改变大小 */
.cursor-nw-resize {
	cursor: nw-resize;
}

/*向左下改变大小 */
.cursor-sw-resize {
	cursor: sw-resize;
}

/*向右上改变大小 */
.cursor-ne-resize {
	cursor: ne-resize;
}

/*向右下改变大小 */
.cursor-se-resize {
	cursor: se-resize;
}

/*END 鼠标光标*/

/* 尺寸 */
.size-block {
	display: block;
	width: 100%;
}

/* 高度 */
.h-inherit {
	height: inherit;
}


